In [1]:
import pandas as pd
import datetime as dt
import plotly.offline as po
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [2]:
ord_det = pd.read_csv('order_details.csv')
ord = pd.read_csv('orders.csv')
piza_typs = pd.read_csv('pizza_types.csv', encoding='cp1252')
piza = pd.read_csv('pizzas.csv')

## Orders

In [3]:
ord

       order_id        date      time
0             1  2015-01-01  11:38:36
1             2  2015-01-01  11:57:40
2             3  2015-01-01  12:12:28
3             4  2015-01-01  12:16:31
4             5  2015-01-01  12:21:30
...         ...         ...       ...
21345     21346  2015-12-31  20:51:07
21346     21347  2015-12-31  21:14:37
21347     21348  2015-12-31  21:23:10
21348     21349  2015-12-31  22:09:54
21349     21350  2015-12-31  23:02:05

[21350 rows x 3 columns]

In [4]:
ord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21350 entries, 0 to 21349
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order_id  21350 non-null  int64
 1   date      21350 non-null  object
 2   time      21350 non-null  object
dtypes: int64(1), object(2)
memory usage: 500.5+ KB

In [5]:
ord[ord.duplicated()]

Empty DataFrame
Columns: [order_id, date, time]
Index: []

## Order Detatils

In [6]:
ord_det

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [7]:
ord_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_details_id  48620 non-null  int64
 1   order_id          48620 non-null  int64
 2   pizza_id          48620 non-null  object
 3   quantity          48620 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [8]:
ord_det[ord_det.duplicated()]

Empty DataFrame
Columns: [order_details_id, order_id, pizza_id, quantity]
Index: []

## Pizzas

In [9]:
piza

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

In [10]:
piza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_id       96 non-null     object
 1   pizza_type_id  96 non-null     object
 2   size           96 non-null     object
 3   price          96 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.1+ KB

In [11]:
piza[piza.duplicated()]

Empty DataFrame
Columns: [pizza_id, pizza_type_id, size, price]
Index: []

## PIzza Types

In [12]:
piza_typs.head()

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."

In [13]:
piza_typs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pizza_type_id  32 non-null     object
 1   name           32 non-null     object
 2   category       32 non-null     object
 3   ingredients    32 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

In [14]:
piza_typs[piza_typs.duplicated()]

Empty DataFrame
Columns: [pizza_type_id, name, category, ingredients]
Index: []

## Merging The Four tables

After going through the data, i found no empty row neither di i find any duplicates. Looking at The metadata, there are unique identifiers and foreign keys that can help maerge these tables.

I will be merging the tables below.

In [15]:
pizza_order = ord.merge(right=ord_det, on='order_id', how='left').\
                    merge(right=piza, on='pizza_id', how='left').\
                    merge(right=piza_typs, on='pizza_type_id', how='left')

pizza_order.head(3)

,order_id,date,time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,1,2015-01-01,11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2015-01-01,11:57:40,2,classic_dlx_m,1,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,2,2015-01-01,11:57:40,3,five_cheese_l,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."

In [16]:
date_time = pd.Series(pizza_order['date'] + " " + pizza_order['time'])
date_time = pd.to_datetime(date_time)
pizza_order.insert(3, 'date_time', date_time)
pizza_order.drop(['date', 'time'],axis=1,inplace=True)

In [17]:
pizza_order.head(3)

,order_id,date_time,order_details_id,pizza_id,quantity,pizza_type_id,size,price,name,category,ingredients
0,1,2015-01-01 11:38:36,1,hawaiian_m,1,hawaiian,M,13.25,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
1,2,2015-01-01 11:57:40,2,classic_dlx_m,1,classic_dlx,M,16.00,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
2,2,2015-01-01 11:57:40,3,five_cheese_l,1,five_cheese,L,18.50,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."

In [18]:
pizza_order.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48620 entries, 0 to 48619
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          48620 non-null  int64
 1   date_time         48620 non-null  datetime64[ns]
 2   order_details_id  48620 non-null  int64
 3   pizza_id          48620 non-null  object
 4   quantity          48620 non-null  int64
 5   pizza_type_id     48620 non-null  object
 6   size              48620 non-null  object
 7   price             48620 non-null  float64
 8   name              48620 non-null  object
 9   category          48620 non-null  object
 10  ingredients       48620 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 4.5+ MB

## EDA

In [19]:
pizza_order.groupby(by=pizza_order.date_time.dt.time)['order_id'].count().sort_values(ascending=False)

date_time
12:32:00    26
11:59:10    24
12:53:29    23
12:26:04    23
12:52:36    23
            ..
12:50:15     1
12:50:20     1
14:36:45     1
12:50:31     1
15:44:31     1
Name: order_id, Length: 16382, dtype: int64

In [20]:
a = pizza_order.groupby(by=pizza_order.date_time.dt.month)['order_id'].count()

In [21]:
trace = go.Scatter(
    x=a.index,
    y=a.values,
    mode='markers'
)
data = [trace]
po.iplot(data)

In [23]:
pizza_order['name'].nunique()

32

In [26]:
pizza_order.describe()

           order_id  order_details_id      quantity         price
count  48620.000000      48620.000000  48620.000000  48620.000000
mean   10701.479761      24310.500000      1.019622     16.494132
std     6180.119770      14035.529381      0.143077      3.621789
min        1.000000          1.000000      1.000000      9.750000
25%     5337.000000      12155.750000      1.000000     12.750000
50%    10682.500000      24310.500000      1.000000     16.500000
75%    16100.000000      36465.250000      1.000000     20.250000
max    21350.000000      48620.000000      4.000000     35.950000

In [33]:
pizza_order.groupby('size')['price'].count()

size
L      18526
M      15385
S      14137
XL       544
XXL       28
Name: price, dtype: int64

In [29]:
pizza_order.groupby('category')['price'].sum()

category
Chicken    191527.25
Classic    215732.60
Supreme    204486.75
Veggie     190198.10
Name: price, dtype: float64

In [24]:
pizza_order.groupby('name')['price'].sum()

name
The Barbecue Chicken Pizza                    41683.00
The Big Meat Pizza                            21732.00
The Brie Carre Pizza                          11352.00
The Calabrese Pizza                           15763.75
The California Chicken Pizza                  40166.50
The Chicken Alfredo Pizza                     16779.00
The Chicken Pesto Pizza                       16484.75
The Classic Deluxe Pizza                      37631.50
The Five Cheese Pizza                         25141.50
The Four Cheese Pizza                         31361.10
The Greek Pizza                               28170.10
The Green Garden Pizza                        13819.50
The Hawaiian Pizza                            31561.75
The Italian Capocollo Pizza                   24641.50
The Italian Supreme Pizza                     32856.25
The Italian Vegetables Pizza                  15930.75
The Mediterranean Pizza                       15163.00
The Mexicana Pizza                            26243.00
The Napolitana Pizza                          23850.50
The Pepper Salami Pizza                       25081.00
The Pepperoni Pizza                           29538.25
The Pepperoni, Mushroom, and Peppers Pizza    18607.00
The Prosciutto and Arugula Pizza              23679.75
The Sicilian Pizza                            30123.75
The Soppressata Pizza                         16342.75
The Southwest Chicken Pizza                   34081.75
The Spicy Italian Pizza                       34163.50
The Spinach Pesto Pizza                       15388.25
The Spinach Supreme Pizza                     15124.00
The Spinach and Feta Pizza                    23021.25
The Thai Chicken Pizza                        42332.25
The Vegetables + Vegetables Pizza             24129.75
Name: price, dtype: float64